<p-dialog [header]="header" *ngIf="visible" [modal]="true" class="dialog" [(visible)]="visible">
    <p>{{body}}</p>
 
    <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                    <div class="ui-grid-row" *ngFor="let model of models">
                        <div class="ui-grid-col-6">
                            <div>
                                {{model.caption}}
                                <span *ngIf="model.required"> *</span>
                            </div>
                            <div class="ui-message ui-messages-warn ui-corner-all" *ngIf="!userform.controls[model.name].valid&&userform.controls[model.name].dirty">
                                 <i class="fa fa-close"></i>{{model.errorMsg||model.description}}
                            </div>                            
                        </div>
                        <div class="ui-grid-col-6">
                            <input *ngIf="model.type=='text'" pInputText type="text" [formControlName]="model.name" [disabled]="model.readonly" [placeholder]="model.placeholder||''"  [(ngModel)]="values[model.name]" />
                            <p-dropdown *ngIf="model.type=='dropdown'"
                                [formControlName]="model.name"
                                [(ngModel)]="values[model.name]"
                                [options]="model.labelsValues"
                                [disabled]="model.readonly"
                            >
                                <template let-option>
                                    <i class="fa"  [ngClass]="option.icon"></i><span>{{option.label}}</span>
                                </template>
                            </p-dropdown>    
                            <p-spinner *ngIf="model.type=='number'"
                                [formControlName]="model.name"
                                [(ngModel)]="values[model.name]"
                                [min]="model.min||'0'" [max]="model.min||'100'"
                                [step]="model.step||1"
                                size="30"
                                [disabled]="model.readonly"
                            >
                            </p-spinner>
                            <p-listbox  *ngIf="model.type=='listbox'"
                                [formControlName]="model.name"
                                multiple="true" checkbox="true" filter="true"
                                [options]="model.labelsValues"
                               [(ngModel)]="values[model.name]"
                               [disabled]="model.readonly"
                            >
                                <template let-option>
                                    <i class="fa"  [ngClass]="option.icon"></i><span>{{option.label}}</span>
                                </template>
                            </p-listbox>                            
                            

                        </div>
                     </div>                                          
                </div>                       
       </form>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton *ngFor="let button of buttons"
                    [icon]="button.icon" 
                    (click)="click(button)" [label]="button.label"
                    [disabled]="button.formStatus&&!userform.valid"
                    ></button>               
        </div>
    </footer>
</p-dialog>

{{values|json}}