<div>  
    <div>
        Hello! 
        This is kanban desk! 
    </div>
    
    <div (click)="togglePriority()">High priority {{paramsIssuesList|json}}</div>
</div>

<div class="ui-g" >
    <div  class="ui-g-1" >        
        <m-menucommand  [model]="items"></m-menucommand>
    </div>
    <div  class="ui-g-11" >
        <div [ngClass]="colWidth"  *ngFor="let col of columns"  pDroppable="rec" (onDrop)="dragDrop.drop($event,col,'changeColumn')" (onDragEnter)="dragDrop.onDragEnter($event,'changeColumn')" (onDragLeave)="dragDrop.onDragLeave($event,'changeColumn')">
            <div class="kanban-header-columns">
                <i class="fa"  [ngClass]="col.icon" aria-hidden="true"></i>
                {{col.caption}}          
            </div>
            <template ngFor let-rec [ngForOf]="records|byColumns:col.id">
                <div  pDraggable="rec" pDroppable="rec" dragEffect="move" (onDragStart)="dragDrop.dragStart($event,rec)" (onDragEnd)="dragDrop.dragEnd($event)" (onDrop)="dragDrop.drop($event,rec,'rec')">      
                    <br>
                    <p-panel [toggleable]="true" (click)="select($event,rec)" [ngClass]="{'kanban-selected':isSelect(rec)}">
                        <header class="ov-inline" >
                            {{rec.caption}} {{rec.priority}}
                            <i class="fa"  [ngClass]="tag2icon(tag)" aria-hidden="true" *ngFor="let tag of rec.tags" [pTooltip]="tag2text(tag)"></i>
                        </header>
                        {{rec.description}}
                    </p-panel>  
                </div>
            </template>                     
        </div>
    </div>
</div>
<p-growl [value]="msgs" sticky="true"></p-growl>



